/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


html{
	background: #f6f6f6;
	background-repeat:no-repeat;
	background: -moz-linear-gradient(top,  #f6f6f6 0%, #e1e1e1 100%);
	background: -webkit-linear-gradient(top,  #f6f6f6 0%,#e1e1e1 100%);
	background: -o-linear-gradient(top,  #f6f6f6 0%,#e1e1e1 100%);
	background: -ms-linear-gradient(top,  #f6f6f6 0%,#e1e1e1 100%);
	background: linear-gradient(to bottom,  #f6f6f6 0%,#e1e1e1 100%);
	
	min-height:100%;
}

body{
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
	color:#444;
}

a, a:visited {
	outline:none;
	color:#43819b;
}

a:hover{
	text-decoration:none;
}

section, footer, header{
	display: block;
}


/*-------------------------
	Todo list
--------------------------*/

#todo{
	background:url('../img/mid.jpg') repeat-y;
	position:relative;
	width: 252px;
	margin: 120px auto 60px;
}

#todo h2{
	background:url('../img/header.jpg') no-repeat;
	font-size:16px;
	text-align:center;
	color:#fff;
	height: 52px;
	line-height: 42px;
	text-shadow: 1px 1px 0 rgba(50, 50, 50, 0.5);
	position:relative;
}

#todo h2 .add{
	color:#fff;
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -14px;
	width: 18px;
	height: 18px;
	border-radius: 4px;
	border: 1px solid rgba(55, 55, 55, 0.4);
	text-align: center;
	line-height: 18px;
	text-decoration: none !important;
	font-size: 12px;
	font-weight:normal;
	background-color: rgba(50, 50, 50, 0.25);
	box-shadow: 0px 0px 2px rgba(20, 20, 20, 0.2) inset;
}

#todo ul{
	list-style:none;
}

#todo ul li{
	padding: 12px 10px 12px 55px;
	border-bottom:1px solid #ccc;
	position:relative;
	word-wrap:break-word;
}

#todo ul li:last-child{
	border-bottom:none;
}

#todo ul li input{
	font:inherit;
	color:inherit;
	background:none;
	border:none;
	outline:none !important;
}

#todo ul li.done input{
	text-decoration:line-through;
}

#todo ul li input[type=checkbox]{
	display: inline-block;
	margin: 0 0px 0 -17px;
	cursor: pointer;
	position: relative;
	left: -26px;
}

#todo ul li a.delete{
	width:14px;
	height:14px;
	background-color:#b02929;
	border-radius:50%;
	position:absolute;
	right:20px;
	top:50%;
	margin-top:-7px;
	color:#fff;
	font-size:10px;
	text-align:center;
	text-decoration:none !important;
	line-height:14px;
	
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	transition:0.4s;
	
	opacity:0;
}

#todo ul li:hover a.delete{
	opacity:0.9;
}
#todo:after{
	position:absolute;
	content:'';
	background:url('../img/footer.png') no-repeat;
	width:100%;
	height:40px;
}


/*----------------------------
	The Footer
-----------------------------*/


footer{
	background-color: #111111;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0,0,0,0.4);
	height: 45px;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 100000;
}

footer h2{
	color: #EEEEEE;
	font-size: 14px;
	font-weight: normal;
	left: 50%;
	margin-left: -400px;
	padding: 13px 0 0;
	position: absolute;
	width: 540px;
}

footer h2 i{
	font-style:normal;
	color:#888;
}

footer a.tzine,a.tzine:visited{
	color: #999999;
	font-size: 12px;
	left: 50%;
	margin: 16px 0 0 110px;
	position: absolute;
	text-decoration: none;
	top: 0;
}

footer a i{
	color:#ccc;
	font-style: normal;
}

footer a i b{
	color:#c92020;
	font-weight: normal;
}
