/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


html{
	background-color:#eee;
	background-position:center center;
	background-repeat:none;
	
	background-image:-moz-radial-gradient(circle closest-corner, #eee 0%, #ccc 100%);
	background-image:-o-radial-gradient(circle closest-corner, #eee 0%, #ccc 100%);
	background-image:-webkit-radial-gradient(circle closest-corner, #eee 0%, #ccc 100%);
	background-image:radial-gradient(circle closest-corner, #eee 0%, #ccc 100%);
}

body{
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
	background-color:transparent;
}

a, a:visited {
	outline:none;
	color:#1c4f64;
}

a:hover{
	text-decoration:none;
}

section, footer, header{
	display: block;
}

#main{
	width:575px;
	margin:150px auto 100px;
	text-align:center;
}

.center{
	text-align:center;
}

.jcrop-holder{
	display:inline-block;
	margin:20px 0;
	box-shadow: 2px 2px 1px #CCC;
}

#errorModal h4{
	padding: 50px 0;
}

.dropbox-chooser{
	display: inline-block;
}


/*----------------------------
	The Footer
-----------------------------*/


footer{
	background-color: #111111;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0,0,0,0.4);
	height: 45px;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 100000;
}

footer h2{
	color: #EEEEEE;
	font-size: 14px;
	font-weight: normal;
	left: 50%;
	margin-left: -400px;
	padding: 13px 0 0;
	position: absolute;
	width: 540px;
	line-height: 1.4;
	margin-top: 0;
}

footer h2 i{
	font-style:normal;
	color:#888;
}

footer a.tzine,a.tzine:visited{
	color: #999999;
	font-size: 12px;
	left: 50%;
	margin: 16px 0 0 110px;
	position: absolute;
	text-decoration: none;
	top: 0;
}

footer a i{
	color:#ccc;
	font-style: normal;
}

footer a i b{
	color:#c92020;
	font-weight: normal;
}
